/* General layout styling */
.intro-section {
  display: grid;
  gap: 1rem;
  padding: 1%;
  text-align: center;
}

/* Heading styling */
.intro-section h1 {
  margin-bottom: 1rem;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

/* Intro text styling */
.intro-text {
  max-width: 800;
  margin: 1rem auto;
}

.intro-text p {
  margin-bottom: 1rem;
}

/* Features section styling */
.features-section {
  padding: 1rem;
  margin-top: 0.5rem;
}

.features-section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #9b6b4e;
}

.features-list {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0.75rem;
  line-height: 1;
}

.features-list li {
  margin-bottom: 0.5rem;
}

/* Closing section styling */
.closing-section {
  padding: 2rem;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.closing-text {
  max-width: 900px;
  margin-bottom: 1.5rem;
}

.call-to-action {
  font-weight: bold;
  margin-top: 1rem;
}
